.ant-tree.ant-tree-block-node
  .ant-tree-list-holder-inner
  .ant-tree-node-content-wrapper {
  flex: unset !important;
}

.control-container {
  border-width: 0;
}

.custom-container
  .ant-tree.ant-tree-directory
  .ant-tree-treenode-selected::before {
  background-color: #edebe9 !important;
  width: 600px;
}

.custom-container .ant-tree.ant-tree-directory .ant-tree-treenode:hover:before {
  background-color: #edebe9 !important;
}

.custom-container .ant-tree .ant-tree-treenode {
  padding: 5px 16px 14px 14px;
}

.custom-container .ant-tree-title {
  color: #323130 !important;
  font-family: "Segoe UI", SegoeUI, "Helvetica Neue", Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  font-size: 14px;
  font-weight: 400;
}

.custom-container
  .ant-tree.ant-tree-directory
  .ant-tree-treenode-selected
  .ant-tree-switcher {
  color: #323130;
}

.search-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  padding: 15px 0;
}

.ant-input-group-addon {
  border: none;
}

.ant-input-group-addon button {
  background-color: #1890ff;
  border-color: #1890ff;
  color: #fff;
  font-weight: bold;
}

.ant-input-affix-wrapper .ant-input-prefix,
.ant-input-affix-wrapper .ant-input-suffix {
  display: flex;
  align-items: center;
}

.search-icon {
  color: #ccc;
  font-size: 16px;
}

.ant-input {
  height: 32px;
  border-radius: 4px;
  padding-left: 30px;
  margin-right: 10px;
}

.ant-btn {
  margin-left: 10px;
}

.search-box {
  width: 30%;
}

.ant-tree-treenode .ant-tree-iconEle {
  margin-right: 10px;
}

.ant-input-search .ant-input-affix-wrapper {
  outline: none;
  box-shadow: none;
  padding: 0 15px;
  padding-right: 0 !important;
  border-right: 0;
}

.ant-input-search .ant-input-group-addon button {
  border: none !important;
  background-color: transparent !important;
}

.ant-input-search .ant-input-group-addon {
    border: 1px solid #d9d9d9 !important;
    background-color: transparent !important;
    border-left: none !important;
    border-radius: 0 5px 5px 0 !important;
    width: 32px;
}

.ant-input-search .ant-input-affix-wrapper:hover, .ant-input-affix-wrapper-focused{
  border-color: #d9d9d9;
}

.ant-input-search .ant-btn.ant-btn-sm {
  font-size: 14px;
  height: 32px;
  padding: 0px;
  margin: 0 !important;

}

.ant-input-search .anticon-search {
  transform: scaleX(-1) !important;
    -moz-transform: scaleX(-1);
    -webkit-transform: scaleX(-1);
    -ms-transform: scaleX(-1);
}

.ant-input-search >.ant-input-group >.ant-input-group-addon:last-child .ant-input-search-button:not(.ant-btn-primary):active {
  color: rgba(0, 0, 0, 0.45) !important;
}